@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{

    font-family: 'Poppins', sans-serif !important;
}



.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 0;
    margin: 0;
    padding-bottom: 33px;
    padding-top: 33px;
}

.about-title{
    padding-top: 33px;
}

h2{
    font-size: 40px;
    font-family: "Zen Antique Soft";
    color: rgb(255, 255, 255);
}

p{
    font-size: 20px;
    font-family: "Zen Antique Soft";
    color: rgb(255, 255, 255);
    vertical-align: middle;
    display: inline-block;
}